body {
  background-color: #3498DB; }
  body .btn {
    background-color: #E74C3C;
    font-size: 5rem;
    font-weight: bold;
    color: white; }

.jumbotron {
  background-color: #ECF0F1; }

img {
  border-radius: 600px;
  border: 5px solid white;
  margin-top: 50px;
  width: 300px; }
